.ant-btn {
  border: none;
  box-shadow: none;
}

.ant-btn:focus,
.ant-btn:active {
  outline: none;
  border: none;
  box-shadow: none;
}
.header {
  background: linear-gradient(to right, #4ca2cd, #67b26f);
}
